<!DOCTYPE html>
<html>

<head>
    <title>
        Salesforce Embedded Log Out Test Site
    </title>
</head>

<body>
    <h1>Embedded Logout Example !!!!!!!!!!!!!</h1>

    <script>
        
        function onLogout() {
            SFIDWidget.init();
        }
    </script>
</body>

</html>
